<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta HTTP-EQUIV="EXPIRES" CONTENT="-1">
	<script src="jquery-3.5.1.min.js"></script>
	<!-- <script type="module" language="javascript" src="model.js"> </script> -->
	<script type="module" language="javascript" src="controller.js"> </script>
	<link rel="stylesheet" href="style.css">
	<title>f0rt9it32d</title>
</head>

<body bgcolor="ffffff">
	<nav id="navbar" class="navbar-container">
		<ul>
			<li class="bar-item">
				<input type="submit" id="switchToPlay" value="Play">
			</li>

			<li class="bar-item">
				<input type="submit" id="switchToInstructions" value="Instructions">
			</li>

			<li class="bar-item">
				<input type="submit" id="switchToStats" value="Stats">
			</li>

			<li class="bar-item">
				<input type="submit" id="switchToProfile" value="Profile">
			</li>

			<li class="bar-item">
				<input type="submit" id="switchToLogout" value="Logout">
			</li>

		</ul>
	</nav>

	<h1 style="text-align:center; font-size: 40pt;">Battle Royale</h1>

	<div id="ui_login">
		<div id="titleTxt"><b>LOGIN</b></div>
		<div>
			<form id="loginForm" onsubmit="return false;">
				<p>Usename: <input type="text" id="username" placeholder="User Name" required minlength="3" /></p>
				<p>Password: <input type="password" id="password" placeholder="Password" required minlength="5" /></p>
				<input type="submit" id="loginSubmit" value="Login">
				<button type="button" id="switchToRegister">Register</button>
				<p style="color:red"><span id="loginMessage"></span></p>
			</form>
		</div>
	</div>

	<div id="ui_play">

		<div class="diffbtn-group">
			<button class="optionbtn easybtn" id="easybtn">Easy</button>
			<button class="optionbtn mediumbtn" id="mediumbtn">Medium</button>
			<button class="optionbtn hardbtn" id="hardbtn">Hard</button>
		</div>
		<center>
			<canvas id="stage" width="1000" height="1000" style="border:1px solid black;"> </canvas>
		</center>
		<div class="restartbtnCenter">
			<button class="optionbtn restartbtn" id="restart">Play Again</button>
		</div>
	</div>

	<div id="ui_instructions" class="instruc">
		<h1 style="text-align: center;">Instructions</h1>
		<ul>
			<li>
				Use WASD to move the player
			</li>
			<li>
				Use cursor to point the turret and left click to shoot
			</li>
			<li>
				Move around to pick up different ammo packs
			</li>
			<li>
				Each quadrant represents a terrain:
				<ul>
					<li>
						Nether(Purple): All players take more damage
					</li>
					<li>
						Ice(Blue): Player can move faster
					</li>
					<li>
						Sand(Yellow): Player moves slower
					</li>
					<li>
						Grass(Green): Player moves normally
					</li>
				</ul>
			</li>
			<li>
				3 Different AI
			</li>
			<li>
				Score by killing the AI
			</li>
			<li>
				Multiple weapons (Cannon, Pistol, Shotgun)
			</li>
			<li>
				Use space bar to switch between weapons
			</li>
			<li>
				Change the difficulty by clicking on one of the options
			</li>
			<li>
				Restart the game by clicking the play again button at the bottom
			</li>
			<li>
				Try to last as long as you can!
			</li>
		</ul>
	</div>

	<div id="ui_stats">
		<!-- <div class="stats"> -->
		<div class="statBoxes" id="titleTxt">
			<div><b>Statistics for <label id="userStat">USER</label></b></div>
		</div>
		<div class="statsgridLayout">
			<div>
				<label>Easy</label>
			</div>
			<div>
				<label id="easyStat">100</label>
			</div>
			<div>
				<label> Medium</label>
			</div>
			<div>
				<label id="medStat">100</label>
			</div>
			<div>
				<label>Hard</label>
			</div>
			<div>
				<label id="hardStat">100</label>
			</div>
		</div>

		<!-- </div> -->
		<div class="leaderboard">
			<div class="statBoxes" id="titleTxt">
				<b>Leader Board For Easy:</b>
				<ol id="easyList">
				</ol>
			</div>
			<div class="statBoxes" id="titleTxt">
				<b>Leader Board For Medium:</b>
				<ol id="mediumList">
				</ol>
			</div>
			<div class="statBoxes" id="titleTxt">
				<b>Leader Board For Hard:</b>
				<ol id="hardList">
				</ol>
			</div>
		</div>


	</div>

	<div id="ui_profile">
		<form id="profileForm" onsubmit="return false;">
			<div id="titleTxt"><b>PROFILE</b></div>
			<div class="gridLayout">
				<div>Username:</div>
				<div><label id="profusername" required></label></div> <!-- -->
				<div>Password:</div>
				<div><input type="password" id="profpassword" placeholder="Password" minlength="5" required /></div>
				<!-- -->
				<div>Confirm Password:</div>
				<div><input type="password" id="profconfirm" placeholder="Password" minlength="5" required /></div>
				<!-- -->
				<div><label for="birthday">Birthday:</label></div>
				<div><input type="date" id="profbirthday" name="birthday" required></div> <!-- -->
				<!-- set birthdate to todays date  -->
				<script>
					var today = new Date();
					var dd = today.getDate();
					var mm = today.getMonth() + 1; //January is 0!
					var yyyy = today.getFullYear();
					if (dd < 10) {
						dd = '0' + dd
					}
					if (mm < 10) {
						mm = '0' + mm
					}
					today = yyyy + '-' + mm + '-' + dd;
					document.getElementById("profbirthday").setAttribute("max", today);
				</script>
			</div>
			<!--end of gridlayout -->
			<p style="text-align: left;">Skill Level:</p>
			<div class="boxes">
				<input style="margin-left: 20px;" type="radio" name="skill" value="Beginner" required> <!--  -->
				<label for="male">Beginner</label><br>
				<input style="margin-left: 20px;" type="radio" name="skill" value="Intermediate">
				<label for="female">Intermediate</label><br>
				<input style="margin-left: 20px;" type="radio" name="skill" value="Advanced">
				<label for="other">Advanced</label>
			</div>
			<p style="text-align: left;">Plan To Play:</p>
			<div class="boxes">
				<input style="margin-left: 23px;" type="checkbox" name="day" value="Morning">
				<label for="Morning">Morning</label><br>
				<input style="margin-left: 23px;" type="checkbox" name="day" value="Afternoon">
				<label for="Afternoon">Afternoon</label><br>
				<input style="margin-left: 35px;" type="checkbox" name="day" value="Night">
				<label for="Night">Night</label><br>
			</div>
			<script src="profileForm.js"></script>
			<div class="btn">
				<button type="button" id="deleteSubmit">Delete Account</button>
				<input type="submit" id="profileSubmit" value="Update Information">
			</div>
		</form>
		<p style="color:green"><span id="successMessage"></span></p>
		<p style="color:red"><span id="proferrorMessage"></span></p>
	</div><!-- profile end -->

	<div id="ui_register">
		<form id="regisForm" onsubmit="return false;">
			<div id="titleTxt"><b>REGISTER</b></div>
			<div class="gridLayout">
				<div>Username:</div>
				<div><input type="text" pattern="^[a-zA-Z0-9_]+$" id="newuser" placeholder="User Name" minlength="3"
						required /></div> <!-- -->
				<div>Password:</div>
				<div><input type="password" id="newpassword" placeholder="Password" minlength="5" required /></div>
				<!-- -->
				<div>Confirm Password:</div>
				<div><input type="password" id="confirm" placeholder="Password" minlength="5" required /></div> <!-- -->
				<div><label for="birthday">Birthday:</label></div>
				<div><input type="date" id="birthday" name="birthday" required></div> <!-- -->
				<!-- set birthdate to todays date  -->
				<script>
					var today = new Date();
					var dd = today.getDate();
					var mm = today.getMonth() + 1; //January is 0!
					var yyyy = today.getFullYear();
					if (dd < 10) {
						dd = '0' + dd
					}
					if (mm < 10) {
						mm = '0' + mm
					}
					today = yyyy + '-' + mm + '-' + dd;
					document.getElementById("birthday").setAttribute("max", today);
				</script>
			</div>
			<!--end of gridlayout -->
			<p style="text-align: left;">Skill Level:</p>
			<div class="boxes">
				<input style="margin-left: 20px;" type="radio" name="skill" value="Beginner" required> <!--  -->
				<label for="male">Beginner</label><br>
				<input style="margin-left: 20px;" type="radio" name="skill" value="Intermediate">
				<label for="female">Intermediate</label><br>
				<input style="margin-left: 20px;" type="radio" name="skill" value="Advanced">
				<label for="other">Advanced</label>
			</div>
			<p style="text-align: left;">Plan To Play:</p>
			<div class="boxes">
				<input style="margin-left: 23px;" type="checkbox" name="day" value="Morning">
				<label for="Morning">Morning</label><br>
				<input style="margin-left: 23px;" type="checkbox" name="day" value="Afternoon">
				<label for="Afternoon">Afternoon</label><br>
				<input style="margin-left: 35px;" type="checkbox" name="day" value="Night">
				<label for="Night">Night</label><br>
			</div>

			<script src="regForm.js"></script>
			<div class="btn">
				<button type="button" id="switchToLogin">Back to Login</button>
				<input type="submit" id="registerSubmit" value="Register">
			</div>
		</form>
		<p style="color:red"><span id="errorMessage"></span></p>
	</div><!-- registration -->

</body>

</html>